@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
	font-size: 62.5%;

	--oh-blue: #303f9f;
	--oh-orange: #ff5c00;
}

body {
	padding: 0;
	margin: 0;

	font-family: 'Nunito', sans-serif;
}

.products {
	max-width: 108rem;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	gap: 2rem;
	margin: 4rem auto;
	padding: 4rem;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
	.products {
		padding: 1.6rem;
	}
}
