.product-container {
	text-decoration: none;
	border-radius: 1rem;
	color: black;
	box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.16), 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.12);
	flex: 1;
	max-width: 22rem;
	min-width: 22rem;
}

.image {
	width: 100%;
	aspect-ratio: 16 / 16;
	object-fit: cover;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.info-section {
	padding: 1.2rem 1.6rem 1.6rem 1.6rem;
}

.name {
	font-size: 2.4rem;
	margin: 0;
}

.price {
	font-size: 1.6rem;
	margin: 0;
}

.description {
	font-size: 1.4rem;
	margin: 0;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-bottom: 2.4rem;
	margin-top: 0.6rem;
}

@media screen and (max-width: 359px) {
	.product-container {
		min-width: 10rem;
		max-width: 14rem;
	}

	.name {
		font-size: 1.6rem;
	}

	.price,
	.description {
		font-size: 1rem;
	}

	.description {
		margin-bottom: 1.2rem;
		margin-top: 0.6rem;
	}
}

@media screen and (min-width: 360px) and (max-width: 500px) {
	.product-container {
		min-width: 14rem;
		max-width: 20rem;
	}

	.name {
		font-size: 2rem;
	}

	.price,
	.description {
		font-size: 1.2rem;
	}
}
