.header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 4rem;
}

.title {
	font-size: 3rem;
	text-align: center;
}

.line {
	width: 5rem;
	border-width: 0.3rem;
	border-color: var(--oh-blue);
	border-style: solid;
}
