.container {
	background: var(--oh-blue);
	display: flex;
}

.link {
	box-sizing: border-box;
	padding: 2rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-transform: uppercase;

	transition: color 0.2s ease;

	&:hover {
		background: white;
		color: var(--oh-orange);
	}
}

.active {
	color: var(--oh-orange);
	background: white;
}
